.responsive {
    width: 100%;
    max-width: 400px;
    height: auto;
}

#articlee {
    padding-left: 25%;
    padding-right: 25%;
    background-image: url(../images/wood.jpg);
}

#sourcess {
    background-image: url(../images/wood.jpg);
}