{% macro displayNewsSources(source_sources_list) %}

{% for source in source_sources_list %}
    <li>{{ source.name}}</li>
    <p>{{source.description}}</p>
    <a href="{{source.url}}">Visit {{source.id}}</a>
    <a href="/article/{{source.source_id}}" target="_blank" style="color: red;">
    View articles ></a>
    {{source.title}}
{% endfor %}

{% endmacro %}

{% macro displayArticlesList(article_articles_list) %}

{% for article in article_articles_list %}
    <a href="{{article.url}}">
        <img src="{{article.urlToImage}}" alt="image">
    </a>
    <h3>Author:{{article.author}}</h3>
    <h2>Title: {{article.title}}</h2>
    <h4>Description: {{article.description}}</h4>
    <p>Published on Date: {{article.publishedAt}}</p>
    <p>Content:{{article.content}}</p>

{% endfor%}

{% endmacro %}